
%a{href:"javascript:void(0)",onclick:"setCurrentSong(-1)"}  
  Take a break
%table.table
  - @songs.each do |s|
    %tr
      %td
        = s.title
      %td
        = s.artist.name
      %td 
        %a{href:"javascript:void(0)",onclick:"setCurrentSong(#{s.id})"} 
          Set Current
      %td
        - if s.lightshow 
          %a{href:"javascript:void(0)",onclick:"startLightShow(#{s.id})"} 
            Start Light Show
