/Render tabs of requests and song list (maybe set list later).
.row
  .span6
    %ul.nav.nav-tabs
      %li
        %a(href="#list" data-toggle="tab") Song List
      %li
        %a(href="#requests" data-toggle="tab") Requests

    .tab-content
      %div#list.tab-pane.active
        = render 'song_list'
      %div#requests.tab-pane
        = render 'requests'

  .span6
    %input#song_id(type="hidden" value="-1")
    %div#current_chart

:javascript
    var id = $("#song_id").val();
    CheckCurrentSong();
    var t = setInterval("CheckCurrentSong()", 5000);
