/Render tabs of requests and song list (maybe set list later).
.row
  .span6
    %ul.nav.nav-tabs
      %li
        %a.active(href="#list" data-toggle="tab") Song List
      %li
        %a(href="#requests" data-toggle="tab") Requests
      %li
        %a(href="#grouped_requests" data-toggle="tab") Most Popular

    .tab-content
      #list.tab-pane.active
        = render 'song_list'
      #requests.tab-pane
        = render 'requests'
      #grouped_requests.tab-pane
        #most_popular_requests
          = render 'most_popular_requests'

  .span6
    %input#song_id(type="hidden" value="-1")
    %div#current_chart

:javascript
    var id = $("#song_id").val();
    CheckCurrentSong();
    var t = setInterval("CheckCurrentSong()", 5000);

    var songs
