= image_tag('eyes.png')
%p 
  %i 
    Sing along. Rock out.

%h3 
  What is Faking the Dream?
%p
  Simply put, we are here to rock and have you sing along. This website is here to help.
%p
  If we were playing right now, you wouldn't see this page. It will automagically change to the words of whatever song we're playing at the moment. Pretty neat, eh? 
  
%p
  If you go
  %a(href="/songlist")here 
  you'll find all the songs we know. You can even make requests. Eventually you'll be able to buy the songs online and leave us tips. Until then, just throw money. (LOTS of money.)