%audio{:src=>"loop.mp3", :onended=>"this.play();", :controls=>"controls", :autobuffer}
%div#current_song
  - if @current_song
    %h2
      = @current_song.title
    .lyric
      = raw(@current_song.lyric)
  - else
    Get ready!

%input#song_id{:type=>"hidden", :value=>"#{@current_song ? @current_song.id : -1}"}

/ :javascript
/     var id = $("#song_id").val();
/     CheckCurrentSong();
/     var t = setInterval("CheckCurrentSong()", 5000);
