<div id="current_song" class="twelve phone-four columns">
Get ready!
</div>
<input type="hidden" value="-1" id="song_id" />
<script type="text/javascript">
    var id = $("#song_id").val();
    CheckCurrentSong();
    var t = setInterval("CheckCurrentSong()", 5000);
</script>
