%h2
  Dates
%table.table.table-striped
  %tr
    %th
      Date
    %th 
      Time
    %th
      Location
    %tr
      %td 
        7/26/13
      %td 
        8:00 
      %td 
        %a{:href=>"https://maps.apple.com/maps?q=pit+stop+tavern+denver&hl=en&ll=39.740194,-105.052471&spn=0.086063,0.175953&sll=39.746794,-105.018654&sspn=0.086055,0.175953&hq=pit+stop+tavern&hnear=Denver,+Colorado&t=m&z=13", :target=>'_blank'} Pitstop Tavern
    %tr
      %td 
        8/24/13
      %td 
        8:00 
      %td 
        Private Party
    %tr
      %td 
        9/7/13
      %td 
        TBD
      %td 
        %a{:href=>"http://sanrafapalooza.com", :target=>'_blank'} Sanrafapalooza
    
        
