%h2
  Dates
%table.table.table-striped
  %tr
    %th
      Date
    %th 
      Time
    %th
      Location
    %tr
      %td 
        3/14/13
      %td 
        8:00 
      %td 
        %a{:href=>"http://goo.gl/maps/GFS8J", :target=>'_blank'} Lion's Lair
    %tr
      %td 
        5/17/13
      %td 
        8:00 
      %td 
        %a{:href=>"http://goo.gl/maps/QtJLL", :target=>'_blank'} The Hi-Dive
    %tr
      %td
        6/6/13
      %td
        8:00
      %td
        %a{:href=>"http://goo.gl/maps/eY3Ac", :target=>'_blank'} Baker Street
        
