= image_tag('eyes.png')
%p 
  %i 
    If you don't sing along, we're just a crappy cover band.

%h3 
  What is Faking the Dream?
%p
  Simply put, we are here to rock and have you sing along. This website is here to help.
%p
  If you go 
  %a(href="/current")here 
  you'll find the words to whatever song we're playing right now and they'll change automatically when we go to the next one. Pretty neat, eh?
%p
  If you go
  %a(href="/songlist")here 
  you'll find all the songs we know. Eventually you'll be able to make requests, buy the songs online and leave us tips. Until then, you'll have to yell requests and just throw money. (LOTS of money.)




