%iframe{:frameborder => "0", :height => "302", :scrolling => "no", :src => "http://www.ustream.tv/embed/14423771?v=3&wmode=direct", :style => "border: 0px none transparent;", :width => "480"}
%br/
/%a{:href => "http://www.ustream.tv/everywhere", :style => "padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;", :target => "_blank"} 
/  Live video for mobile from Ustream

%object#live_embed_player_flash{:bgcolor => "#000000", :data => "http://www.justin.tv/widgets/live_embed_player.swf?channel=fakingthedream", :height => "300", :type => "application/x-shockwave-flash", :width => "400"}
  %param{:name => "allowFullScreen", :value => "true"}/
  %param{:name => "allowScriptAccess", :value => "always"}/
  %param{:name => "allowNetworking", :value => "all"}/
  %param{:name => "movie", :value => "http://www.justin.tv/widgets/live_embed_player.swf"}/
  %param{:name => "flashvars", :value => "hostname=www.justin.tv&channel=fakingthedream&auto_play=false&start_volume=25"}/
%a.trk{:href => "http://www.justin.tv/fakingthedream#r=-rid-&s=em", :style => "padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center"} Watch live video from fakingthedream on www.justin.tv