%table.table.table-striped
  %tr
    %th
      Title
    %th 
      Artist
    %th
  - @songs.each do |s|
    %tr
      %td 
        = s.title
      %td 
        = s.artist.name 
      %td 
        %a(href="/song/#{s.id}") View
