%table
  %thead
    %td Title
    %td Artist
    %td
    %td
  - @songs.each do |s|
    %tr
      %td 
        = s.title
      %td 
        = s.artist.name 
      %td 
        %a(href="/song/#{s.id}") View
