// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	font-size:2em;
}

.byline {
	font-style: italic;
	color: #999999;
	margin-bottom: 10px;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  padding-top: 60px;
}

#main {
  overflow:auto;
}

.footer {
  position: relative;
  margint-top: -150px; 
  height: 150px;
  clear:both;
  padding-top:20px;
} 